@model IEnumerable<CoCo.ViewModel.UserViewModel.AdminViewModel>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

<style>
    .full-height {
        min-height: 80vh;
    }
</style>
<section>
    <div class="container full-height">
        <table id="example" class="table table-striped mt-3" style="width:100%">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td class="align-middle">@user.UserName</td>
                        <td class="align-middle">@user.Email</td>
                        <td class="align-middle">@user.Role</td>
                        <td class="text-center">
                            <form asp-controller="Admin" asp-action="UserDelete" method="post">
                                <input type="hidden" name="userId" value="@user.UserId" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": true,         
            "searching": true,      
            "ordering": true,       
            "info": true,           
            "lengthMenu": [5, 10, 15, 20], 
            "language": {
                "lengthMenu": "Display _MENU_ records per page",
                "zeroRecords": "No records found",
                "info": "Showing _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)"
            }
        });
    });

    function adjustSectionHeight() {
        const section = document.getElementById('dynamicSection');
        if (window.innerHeight < 800) {
            section.classList.add('full-height');
        } else {
            section.classList.remove('full-height');
        }
    }
    adjustSectionHeight();
    window.addEventListener('resize', adjustSectionHeight);
</script>
